body {
	background-color: #cc8b3c;
}
h1 {
	color: #000; 
	font-family: 'Bangers', cursive;
	letter-spacing: 8px; 
	font-size: 3.0em; 
  position: relative;
  
}
h2 {
	color: #e8d2b9;
	font-size: 2.2em;
  font-family: Aldrich;
}
h3 {
	color: #000;
	font-size: 1.1em;
}
.box {
	margin: 20px 5px;
	padding: 5px 5px;
	border: 2px solid black;
	width: 200px;
	height: 200px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative; 
   
  width: 300px;
}

.button {
    background-color: #F8DF4F; 
    color: black; 
    border: 2px solid;
}

.button:hover {
    background-color: #541f12;
    color: white;
}
#menuBG {
	max-width: 100em;
	margin: auto;
	padding: 0 2.5em; 
	
}
.card{
  width: 800px;
  height: 50%;
  position: relative;
  left: 200px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 8px 8px 4px black;
}
#hello {
  width: 700px;
  height: 200px;
  position: relative;
  left: 00px;
  top: 00px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 8px 8px 4px black;
}
.navbar{
  background-color: #fff;
  box-shadow: 4px 8px 8px 4px black;
  position: relative; 
  left: 200px;
  
  margin: 20px;
  padding: 10px;
  height: 130px;
  width: 800px;
}
.text {
  font-family: Poiret One;
  letter-spacing: 12px;
 position: relative;
  left: 60px;
}
.text2{
  font-family: times;
  position: relative; 
  left: 350px;
}
.box{
  height: 80px;
  width: 750px;
  box-shadow: 2px 2px 2px black;
  background-color: grey; #e8d2b9;
}
 
